/* For Admin - Cookie_Main Page */
.cookie_main_page {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../Image/mainPage/Bg2.png");
  background-size: auto 100%; /* Set background size to auto width and 25% height */
  width: 100%;
  height: 100vh; /* Make the container take the full height of the viewport */
}

.cookie_main_page_action {
  text-align: center; /* Center text horizontally */
  margin: 8%; /* Adjust spacing between items */
  margin-bottom: 5px; /* Adjust spacing between heading and image */
  padding: auto;
}

.cookie_main_page_action img {
  width: 100%; /* Ensure the image fills its container */
}

.cookie_main_page_action h2 {
  font-size: 300%; /* Adjust font size */
  color: white;
}

.cookie_main_page_action a:link,
.cookie_main_page_action a:visited {
  text-decoration: none; /* Remove underline */
  color: black; /* Set default text color */
}

.cookie_main_page_action a:hover img,
.cookie_main_page_action a:hover h2 {
  transform: scale(1.1); /* Enlarge the image by 1.1 times on hover */
}

/* end Admin - Cookie_Main Page */
