body {
  background-color: black; /* change the color of BG*/
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  font-family: "Amatic SC", cursive;
  font-size: 100%;
  color: #fff; /* white text color */
  height: 100%;
}

/* Main Styles */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Amatic SC", cursive;
  -webkit-text-stroke-color: black; /* Stroke color */
  -webkit-text-stroke-width: 0.5px; /* Stroke width */
}

main section {
  width: 100%;
  margin: 0.5px;
  padding: 20px;
  background-color: var(--main-bg-color); /* Use the defined variable */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Main intro-magical-munchies */
#intro-magical-munchies {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../Image/Search/cookieKingdom2.png");
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
}

#intro-magical-munchies #logo-intro {
  height: 80%;
  max-width: 70%;
  align-self: center;
  justify-self: center;
}

#search-container {
  align-self: center;
  justify-self: center;
  background-color: white;

}



#search {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../Image/mainPage/Bg2.png");
  background-size: cover;
  background-position: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  color: black;
  font-size: large;
}


#search-container {
  background-color: rgba(255, 255, 255, 0.5); /* White background with 50% transparency */
  padding: 10px;
  border-radius: 10px;
  font-size: 200%;
  
}

.searchname {
  text-align: center;
}

.form-control {
  width: 50%; /* Set the width to 70% */
  margin: 5px auto; /* Center the input horizontally */
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px; 
  border: 1px solid #ccc;
}


#searchButton {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  width: 50%; /* Set the width to 70% */
}

#searchButton:hover {
  background-color: #0056b3;
}

.form-control::placeholder {
  color: rgb(237, 222, 222); /* Set the color of the placeholder text to white */
}

.product-box {
  border: 1px solid black; /* White border */
  background-color: white; /* Black background */
  padding: 10px;
  margin: 10px;
  width: 400px;
  height: 300px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  font-size: large;
  overflow: auto; /* Enable scrolling if content exceeds the height */
}

#output-box {
  background-image: url("../Image/Search/About Us.png");
  background-size: cover; /* Cover the entire element */
  background-position: center; /* Center the background image */
  min-height: 100vh; /* Minimum height of 100% of the viewport height */
  width: 100%; /* Full width */
  overflow: auto; /* Enable scrolling if content exceeds the height */
  font-family: none;
  color: black;
 
}

.product-not-found p {
  font-size: 500%; /* Set font size to 2 times the default font size */
  color: black;
  background-color: white;
  padding: 20%;
}


